# Database
DATABASE_URL=postgresql://user:password@pg-xxxxx.neon.tech/falconmed?sslmode=require

# Email Service
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# General Manager Email
GENERAL_MANAGER_EMAIL=coo@falconmed.com

# Port
PORT=5000

# Environment
NODE_ENV=development
